body{
    text-align: center;
}
div{
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    /* align-content: flex-end; */
    /* align-content: flex-start;
    align-content: flex-end; */
}

#box1{
    background-color: orange;
    flex-grow: 1;
}
#box2{
    background-color: yellow;
    height: 200px;
    flex-grow: 2;
}
#box3{
    background-color: green;
    height: 75px;
}
#box4{
    background-color: aqua;
}
#box5{
    background-color: red;
}


/* div{
    height: 100px;
    width: 100px;
    background-image: url("nature.jpg");
    background-size: cover;
    color: blue;
    position: fixed;
    right: 0px;
    top: 50px;
} */
/* div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 5px solid black;
    display: inline-block;
} */
/* 
#box1 {
    background-image: url("cat-photo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
} */
/* #box1{
    position: static
}

#box2{
    position: relative;
    top: 10px;
    left: 10px;
}

#box3{
    position: absolute;
    top: 10px;
    z-index: -3;
}

#box4{
    position: fixed;
    right: 10px;
    bottom: 0px;
} */
/* #box1{

    height: 100px;
    width: 200px;
    background-color: blue;
    font-size: 10px;
}
#box2{

    
    width: 30%;
    background-color: green;
    margin-left: 10%;
    font-size: 2em;
    width: 5rem;
    height: 50vh;
}  */